/* subscription-form.component.css */

.card {
    background-color: var(--secondary-color);
    width: 1200px;
}


input[type="text"],
input[type="email"] {
    
    width: 100%;
}


.subs-text{
    width: 500px;
}

/* Hover effect for the subscribe button */
.btn-sub:hover {
    background-color: #004d4f; /* Darken the color on hover */
}

/* Add animation to the card */
.card {
    animation: fadeInUp 1s ease; /* Example animation, you can customize or add your own animation */
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
