/* subscription-form.component.css */

.card {
    background-color: var(--secondary-color);
}

input[type="text"],
input[type="email"] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-sub {
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: #026467; /* Set the primary color */
    color: #ffffff; /* Set text color to white */
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}



/* Hover effect for the subscribe button */
.btn-sub:hover {
    background-color: #004d4f; /* Darken the color on hover */
}

/* Add animation to the card */
.card {
    animation: fadeInUp 1s ease; /* Example animation, you can customize or add your own animation */
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
