<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>

    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda
        vitae ipsam molestias debitis, iusto voluptates corrupti. Eligendi
        molestiae impedit sint suscipit quaerat tempora est commodi, dolore
        blanditiis. Aspernatur quis optio sunt placeat, perferendis quisquam
        laboriosam quibusdam ex consectetur a! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quos accusantium praesentium facilis
        quidem vitae alias excepturi! Atque totam hic alias consectetur
        repellendus, veritatis expedita maiores ad deserunt obcaecati sequi
        similique minus tenetur odio fugiat, suscipit enim non illum eius
        aliquam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda
        vitae ipsam molestias debitis, iusto voluptates corrupti. Eligendi
        molestiae impedit sint suscipit quaerat tempora est commodi, dolore
        blanditiis. Aspernatur quis optio sunt placeat, perferendis quisquam
        laboriosam quibusdam ex consectetur a! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quos accusantium praesentium facilis
        quidem vitae alias excepturi! Atque totam hic alias consectetur
        repellendus, veritatis expedita maiores ad deserunt obcaecati sequi
        similique minus tenetur odio fugiat, suscipit enim non illum eius
        aliquam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda
        vitae ipsam molestias debitis, iusto voluptates corrupti. Eligendi
        molestiae impedit sint suscipit quaerat tempora est commodi, dolore
        blanditiis. Aspernatur quis optio sunt placeat, perferendis quisquam
        laboriosam quibusdam ex consectetur a! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quos accusantium praesentium facilis
        quidem vitae alias excepturi! Atque totam hic alias consectetur
        repellendus, veritatis expedita maiores ad deserunt obcaecati sequi
        similique minus tenetur odio fugiat, suscipit enim non illum eius
        aliquam?
      </p>

      <div class="text-center">
        <button class="btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
