<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/248533/pexels-photo-248533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post" class="card-img-top">


    <div class="card-body">
        <small class="bg-light text-danger text-center">Tech</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 123,456</small>

        <h5 class="mt-1">How to develop a Blog in 2022?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore non, illum vero excepturi nostrum alias saepe perferendis veniam rem vitae architecto iure tenetur hic dolores corporis. Expedita ullam sequi sapiente accusantium nam praesentium esse molestiae voluptates quis quibusdam dicta explicabo, rem dignissimos deserunt culpa in sunt pariatur nostrum quae!</p>


        <small class="bg-light text-warning text-center ml-3">Last Updated- Feb 20, 2024</small>
    </div>
</div>